<!-- <div class="container">
  <i class="fa fa-github-alt fa-5x" aria-hidden="true"></i>
</div> -->
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Selecciona tu avatar</h2>
    <p class="lead">Escoge tu avatar rapido, antes que alguien te gane.</p>
  </div>
  <div class="col-md-12">
    <div class="col-md-4">a</div>
    <div class="col-md-4">s</div>
    <div class="col-md-4">d</div>
  </div>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2019 Ever Science</p>
  </footer>