/* You can add global styles to this file, and also import other style files */
.hr-separator {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.hr-separator-inverse {
	height: 10px;
	border: 0;
	box-shadow: 0 -10px 10px -10px #8c8b8b inset;
}