<div class="py-5 text-center">
  <img class="d-block mx-auto mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h2>Selecciona tu avatar</h2>
  <p class="lead">Escoge tu avatar rapido, antes que alguien te gane.</p>
</div>
<div class="row py-5 text-center">
  <div class="col-sm-4" *ngFor="let avatar of avataList">
      <i class="fa {{avatar.img}} fa-5x design-avatar" data-toggle="modal" data-target="#selectedAvatar" aria-hidden="true" (click)="onSelectAvatar(avatar)"></i>
  </div>
</div>

<div *ngIf="avatarSelected" class="modal fade" id="selectedAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form #gamerForm="ngForm" (ngSubmit)="onSubmit(gamerForm)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Desea escoger el  {{avatarSelected.img}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nickname" class="col-form-label">Nick:</label>
            <input type="text"
              class="form-control"
              #nick="ngModel"
              [(ngModel)]="newGamer.nick"
              name="nick">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cambiar Avatar</button>
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
      </div>
    </form>
  </div>
</div>